.App {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .wrap{
    display: flex;
    justify-content: space-between;
  }
  button{
    padding: 20px;
    margin: 10px;
    border-radius: 50%;
    background-color: chartreuse;
    font-weight: 900;
  }
  
  .no{
    /* position: absolute;
    top: 100px;
    left: 100px; */
    background-color: crimson;
  }