.form{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    border: none;
    margin: 10px;
}

.button{
    padding: 15px;
    background-color: darkseagreen;
}